.notecard_container {
  position: relative;
  background-color: var(--foreground-color);
  padding: 20px;
  border-radius: 10px;
  color: var(--primary-text-color);
  max-width: 350px;
  width: 100%;
  &:hover {
    background-color: var(--hover-color);
  }
}

.edit_button {
  display: none;
  position: absolute;
  left: 20px;
}

.edit_icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.delete_button {
  display: none;
  position: absolute;
  right: 20px;
}

.delete_icon {
  width: 30px;
  height: 30px;
  fill: #d32f2f;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.notecard_container:hover .delete_button,
.notecard_container:hover .edit_button {
  display: block;
}

.category_image_container {
  background-color: var(--background-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.category_image {
  width: 40px;
  height: 40px;
}

.notecard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notecard_info,
.notecard_mid {
  max-width: 100%;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
}

.notecard_mid {
  display: block;
  min-height: 60px;
  max-height: 100px;
  overflow-y: auto;
}

.notecard_info {
  height: 60px;
}

.notecard_comment {
  word-break: break-word;
  line-height: 1.5;
  white-space: pre-wrap;
  margin: 0px;
}

.notecard_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notecard_mid {
  margin-bottom: 10px;
  word-break: break-word;
}

.amount_text,
.category_text {
  color: #228b22;
}

.expense_text {
  color: #d32f2f;
}

.note_created_date {
  color: var(--secondary-text-color);
  text-align: right;
}

[data-theme='dark'] {
  .category_image {
    filter: invert(1);
  }

  .amount_text,
  .category_text {
    color: #98fb98;
  }

  .expense_text {
    color: #e57373;
  }

  .delete_icon {
    fill: #e57373;
  }

  .edit_icon {
    filter: invert(1);
  }
}
