.last_three_notes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1230px) {
  .last_three_notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
