.alltime_summary {
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.alltime_summary_list {
  margin: 0px;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  gap: 15px;
}

.alltime_summary_list_item {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: var(--foreground-color);
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

.alltime_summary_list_item.income {
  color: var(--green-color);
}

.alltime_summary_list_item.expense {
  color: var(--red-color);
}