*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  display: flex;
}

main {
  flex-grow: 1;
}

:root {
  --background-color: #ffffff;
  --foreground-color: #e5e5e5;
  --hover-color: #f2f2f2;
  --primary-text-color: #000000;
  --secondary-text-color: #8e8e8e;
  --border-color: #dbdbdb;
  --toggle-light-bg: #c7c7c7;
  --toggle-light-slider: #ffffff;

  --loader-color-main: rgba(0, 0, 0, 1);
  --loader-color-mid: rgba(0, 0, 0, 0.5);
  --loader-color-light: rgba(0, 0, 0, 0.25);

  --submit-button-color: #1677ff;

  --red-color: #d32f2f;
  --green-color: #228b22;
}

[data-theme='dark'] {
  --background-color: #000000;
  --foreground-color: #1a1a1a;
  --hover-color: #262626;
  --primary-text-color: #ffffff;
  --secondary-text-color: #a8a8a8;
  --border-color: #262626;
  --toggle-dark-bg: #ffffff;
  --toggle-dark-slider: #000000;

  --loader-color-main: rgba(255, 255, 255, 1);
  --loader-color-mid: rgba(255, 255, 255, 0.5);
  --loader-color-light: rgba(255, 255, 255, 0.25);

  --red-color: #e57373;
  --green-color: #98fb98;
}

/* antd start */

.ant-tooltip-inner {
  color: var(--primary-text-color) !important;
}

.ant-message .ant-message-notice-error {
  color: var(--red-color) !important;
}

/* antd end */
