.history_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history_title {
  margin: 0px 0px 20px 0px;
  color: var(--primary-text-color);
}

.financenotes_type_word.expense {
  color: #d32f2f;
}

.financenotes_type_word.income {
  color: #228b22;
}

.financenotes_type_title {
  margin: 0px 0px 10px 0px;
  text-align: center;
  color: var(--primary-text-color);
}

.history_top_buttons {
  position: sticky;
  flex-wrap: nowrap;
  top: -20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  margin-bottom: 20px;
  background-color: var(--foreground-color);
  border-radius: 10px;
}

.sortby_date_and_price_buttons {
  display: flex;
  align-items: center;
}

.sortby_type_buttons {
  display: flex;
  align-items: center;
}

.financenotes_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.financecategory_select {
  text-align: center;
  text-transform: capitalize;
  outline: none;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border: 1.5px solid var(--primary-text-color);
  padding: 5px;
  width: 130px;
  border-radius: 10px;
  cursor: pointer;
}

.sort_arrow {
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.sort_arrow.up {
  border-bottom: 6px solid var(--primary-text-color);
}

.sort_arrow.down {
  border-top: 6px solid var(--primary-text-color);
}

.sortby_date_button {
  text-transform: capitalize;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border: 1.5px solid var(--primary-text-color);
  padding: 5px;
  width: 130px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  &:hover {
    opacity: 0.8;
  }
}

.sortby_price_button {
  text-transform: capitalize;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border-color: var(--primary-text-color);
  padding: 5px;
  width: 130px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.sortby_expense_button,
.sortby_income_button {
  transform: scale(1);
  transition: transform 0.2s ease;
  text-transform: uppercase;
  color: var(--background-color);
  padding: 5px;
  width: 130px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.sortby_expense_button {
  margin-right: 10px;
  border: 1px solid #d32f2f;
  background-color: #d32f2f;
}

.sortby_income_button {
  border: 1px solid #228b22;
  background-color: #228b22;
}

.sortby_expense_button.active,
.sortby_income_button.active {
  color: var(--primary-text-color);
  font-weight: bold;
  transform: scale(1.1);
}

.history_divider {
  width: 100%;
  margin-bottom: 20px;
}

[data-theme='dark'] {
  .sortby_income_button {
    background-color: #98fb98;
    border-color: #98fb98;
  }

  .sortby_expense_button {
    background-color: #e57373;
    border-color: #e57373;
  }

  .financenotes_type_word.expense {
    color: #e57373;
  }

  .financenotes_type_word.income {
    color: #98fb98;
  }
}

@media screen and (max-width: 1300px) {
  .financenotes_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .history_top_buttons {
    padding: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .financenotes_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .history_top_buttons {
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sortby_date_and_price_buttons {
    flex-direction: column;
  }

  .sortby_type_buttons {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .financecategory_select {
    margin: 0px;
  }

  .sortby_expense_button {
    margin: 0px 0px 20px 0px;
  }

  .financecategory_select {
    margin-bottom: 20px;
  }

  .sortby_date_button {
    margin: 0px 0px 20px 0px;
  } 
}
