.history_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.financenotes_type_word.expense {
  color: var(--red-color);
}

.financenotes_type_word.income {
  color: var(--green-color);
}

.history_top_buttons {
  position: sticky;
  flex-wrap: nowrap;
  top: -20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  margin-bottom: 20px;
  background-color: var(--foreground-color);
  border-radius: 10px;
}

.history_select_category {
  text-align: center !important;
  width: 130px !important;
}

.sortby_date_and_price_buttons {
  display: flex;
  align-items: center;
}

.sortby_type_buttons {
  display: flex;
  align-items: center;
}

.financenotes_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-y: hidden;
}

.sortby_date_button {
  text-transform: capitalize !important;
  background-color: var(--background-color) !important;
  color: var(--primary-text-color) !important;
  border: 1.5px solid var(--primary-text-color) !important;
  padding: 5px !important;
  width: 130px !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  margin-right: 10px !important;;
  &:hover {
    opacity: 0.8 !important;
  }
}

.sortby_price_button {
  text-transform: capitalize !important;
  background-color: var(--background-color) !important;
  color: var(--primary-text-color) !important;
  border-color: var(--primary-text-color) !important;
  padding: 5px !important;
  width: 130px !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  &:hover {
    opacity: 0.8 !important;
  }
}

.sortby_expense_button,
.sortby_income_button {
  transition: transform 0.2s ease !important; 
  text-transform: uppercase !important;
  color: var(--background-color) !important;
  padding: 5px !important;
  width: 130px !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  &:hover {
    opacity: 0.8 !important;
  }
}

.sortby_expense_button {
  margin-right: 10px !important;
  border: 1px solid var(--red-color) !important;
  background-color: var(--red-color) !important;
}

.sortby_income_button {
  border: 1px solid var(--green-color) !important;
  background-color: var(--green-color) !important;
}

.sortby_expense_button.active,
.sortby_income_button.active {
  color: var(--primary-text-color) !important;
  font-weight: bold !important;
  transform: scale(1.1) !important;
}

.history_divider {
  width: 100%;
  margin-bottom: 20px;
}
