@media screen and (max-width: 1200px) {
  .financenotes_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .history_top_buttons {
    padding: 10px;
  }
}

@media screen and (max-width: 850px) {
  .financenotes_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .history_top_buttons {
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sortby_date_and_price_buttons {
    flex-direction: column;
  }

  .sortby_type_buttons {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .financecategory_select {
    margin: 0px;
  }

  .sortby_expense_button {
    margin: 0px 0px 20px 0px;
  }

  .financecategory_select {
    margin-bottom: 20px;
  }

  .sortby_date_button {
    margin: 0px 0px 20px 0px;
  }
}