@media screen and (max-width: 1200px) {
  .user_info {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .userinfo_list_item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .userinfo_list_item dd {
    margin: 0px;
  }
}