.user_info {
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.userinfo_list {
  margin: 0px;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  gap: 15px;
  min-height: 245px;
}

.userinfo_list_item dt {
  font-weight: bold;
}

.userinfo_list_item {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: var(--foreground-color);
  padding: 10px;
  border-radius: 10px;
}
