.add_category_page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add_category_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground-color);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 100%;
  margin-bottom: 10px;
}

.add_category_submit_button {
  width: 100%;
  text-transform: uppercase;
  &:disabled {
    background-color: #4d4d4d !important;
    border-color: #4d4d4d !important;
    color: #808080 !important;
  }
}
