.user_finance_categories {
  background-color: var(--foreground-color);
  padding: 10px;
  border-radius: 10px;
}

.user_finance_categories_list_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.user_finance_categories_list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.user_finance_categories_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
  color: var(--primary-text-color);
}

.user_finance_categories_list_item_text {
  overflow-wrap: break-word;
  word-break: break-word;
}

.categories_list_item_delete_icon {
  width: 30px;
  height: 30px;
  fill: var(--red-color);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.user_finance_categories_remaining_text {
  position: absolute !important;
  margin: 0px !important;
  color: var(--secondary-text-color) !important;
  right: 20px !important;
  text-transform: capitalize !important;
}
